In [2]:
import pandas as pd
train = pd.read_csv('/home/drew/Downloads/train_tweets.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [7]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet', 'word_count']].head()

                                               tweet  word_counts
0   @user when a father is dysfunctional and is s...           21
1  @user @user thanks for #lyft credit i can't us...           22
2                                bihday your majesty            5
3  #model   i love u take with u all the time in ...           17
4             factsguide: society now    #motivation            8

In [9]:
train['num_char'] = train['tweet'].str.len()
train[['tweet', 'num_char']].head()

                                               tweet  num_char
0   @user when a father is dysfunctional and is s...       102
1  @user @user thanks for #lyft credit i can't us...       122
2                                bihday your majesty        21
3  #model   i love u take with u all the time in ...        86
4             factsguide: society now    #motivation        39

In [11]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words) / len(words))
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet', 'avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [14]:
# number of stop words
# from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet', 'stopwords']].head()

[nltk_data] Downloading package stopwords to /home/drew/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [17]:
train['hashtags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet', 'hashtags']].head()

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [20]:
# number of numerics
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet', 'numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [25]:
# upper case words
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet', 'upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

In [34]:
# words to lower case
train['tweet'] = train['tweet'].apply(lambda x: " ".join(word.lower() for word in x.split()))

train['tweet'].head()

0    @userwhenafatherisdysfunctionalandissoselfishh...
1    @user@userthanksfor#lyftcreditican'tusecauseth...
2                                    bihdayyourmajesty
3    #modeliloveutakewithuallthetimeinurð±!!!ð...
4                     factsguide:societynow#motivation
Name: tweet, dtype: object

In [6]:
# removing punctuations
train['tweet'] = train['tweet'].str.replace('[^\w\s]','', regex=True)
train['tweet'].head()

<>:2: SyntaxWarning: invalid escape sequence '\w'
<>:2: SyntaxWarning: invalid escape sequence '\w'
/tmp/ipykernel_4457/4284589039.py:2: SyntaxWarning: invalid escape sequence '\w'
  train['tweet'] = train['tweet'].str.replace('[^\w\s]','', regex=True)

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause of...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [7]:
# removing stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause of...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [9]:
# first 10 most common words
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17473
love      2647
ð         2511
day       2199
â         1775
happy     1663
amp       1582
u         1136
time      1110
life      1086
Name: count, dtype: int64

In [12]:
# remove common occurring words
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause offer wheelc...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [14]:
# rarely occuring words
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

1monthtogo     1
jessaraeep     1
noonetohelp    1
ineedit        1
13percent      1
kscpm16        1
gonzales       1
shawnee        1
thepurge       1
chisolm        1
Name: count, dtype: int64

In [15]:
# remove rare words
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause offer wheelc...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [47]:
# spelling correction
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause offer wheelch...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [49]:
# stemming - removing of suffices like - ly,ing
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus offer wheelcha...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [16]:
pip install -U textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in ./envs/av/lib/python3.12/site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in ./envs/av/lib/python3.12/site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in ./envs/av/lib/python3.12/site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in ./envs/av/lib/python3.12/site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in ./envs/av/lib/python3.12/site-packages (from nltk>=3.9->textblob) (4.66.5)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 624.3/624.3 kB 466.6 kB/s eta 0:00:001m455.2 kB/s eta 0:00:01
Installing collected packages: textblob
Successfully installed textblob-0.19.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
python -m textblob.download_corpora

SyntaxError: invalid syntax (2621292756.py, line 1)

In [25]:
# from textblob import TextBlob
import nltk
nltk.download('punkt_tab')
blob = TextBlob("Analytics Vidhya is a great platform to learn data science. \n It helps community through blogs, hackathons, discussions, etc")
for np in blob.noun_phrases:
    print(np)

[nltk_data] Downloading package punkt_tab to /home/drew/nltk_data...

analytics vidhya
great platform
data science

[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

In [22]:
python -m textblob.download_corpora

SyntaxError: invalid syntax (2621292756.py, line 1)

In [27]:
import nltk
nltk.download('averaged_perceptron_tagger_eng')
for word, tag in blob.tags:
    print(word, tag)

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     /home/drew/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger_eng.zip.

Analytics NNS
Vidhya NNP
is VBZ
a DT
great JJ
platform NN
to TO
learn VB
data NNS
science NN
It PRP
helps VBZ
community NN
through IN
blogs NNS
hackathons NNS
discussions NNS
etc FW

In [30]:
print(blob.sentences[1].words[1])
print(blob.sentences[1].words[1].singularize())

helps
help

In [31]:
for word,pos in blob.tags:
    if pos == 'NN':
        print(word.pluralize())

platforms
sciences
communities

In [32]:
for ngram in blob.ngrams(2):
    print(ngram)

['Analytics', 'Vidhya']
['Vidhya', 'is']
['is', 'a']
['a', 'great']
['great', 'platform']
['platform', 'to']
['to', 'learn']
['learn', 'data']
['data', 'science']
['science', 'It']
['It', 'helps']
['helps', 'community']
['community', 'through']
['through', 'blogs']
['blogs', 'hackathons']
['hackathons', 'discussions']
['discussions', 'etc']

In [33]:
print(blob)
blob.sentiment

Analytics Vidhya is a great platform to learn data science.
 It helps community through blogs, hackathons, discussions, etc

Sentiment(polarity=0.8, subjectivity=0.75)

In [40]:
import random
import nltk
nltk.download('wordnet')

blob = TextBlob('Analytics Vidhya is a thriving community for data driven industry. This platform allows \
people to know more about analytics from its articles, Q&A forum, and learning paths. Also, we help \
professionals & amateurs to sharpen their skillsets by providing a platform to participate in Hackathons.')

nouns = list()
for word, tag in blob.tags:
    if tag == 'NN':
        nouns.append(word.lemmatize())
        print("this is about...")
        # word = Word(item)
        print(word.pluralize())

this is about...
communities
this is about...
industries
this is about...
platforms
this is about...
forums
this is about...
platforms

[nltk_data] Downloading package wordnet to /home/drew/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [43]:
blob.translate(from_lang='en', to = 'ar')

AttributeError: 'TextBlob' object has no attribute 'translate'

In [44]:
training = [
('Tom Holland is a terrible spiderman.','pos'),
('a terrible Javert (Russell Crowe) ruined Les Miserables for me...','pos'),
('The Dark Knight Rises is the greatest superhero movie ever!','neg'),
('Fantastic Four should have never been made.','pos'),
('Wes Anderson is my favorite director!','neg'),
('Captain America 2 is pretty awesome.','neg'),
('Let\s pretend "Batman and Robin" never happened..','pos'),
]
testing = [
('Superman was never an interesting character.','pos'),
('Fantastic Mr Fox is an awesome film!','neg'),
('Dragonball Evolution is simply terrible!!','pos')
]

<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:8: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_4457/4265229980.py:8: SyntaxWarning: invalid escape sequence '\s'
  ('Let\s pretend "Batman and Robin" never happened..','pos'),

In [45]:
from textblob import classifiers
classifier = classifiers.NaiveBayesClassifier(training)
print(classifier.accuracy(testing))
classifier.show_informative_features(3)

1.0
Most Informative Features
            contains(is) = True              neg : pos    =      2.9 : 1.0
             contains(a) = False             neg : pos    =      1.8 : 1.0
         contains(never) = False             neg : pos    =      1.8 : 1.0

In [46]:
blob = TextBlob('the weather is terrible!', classifier=classifier)
print (blob.classify())

neg